[project]
	description = Watch actual usage of memory(RAM) of an Application/Program to debug the memory leak issue
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Suresh kanzariya (skanzariya)
[access "refs/for/refs/*"]
	read = group user/Suresh kanzariya (skanzariya)
	push = group user/Suresh kanzariya (skanzariya)
	label-Code-Review = -2..+2 group user/Suresh kanzariya (skanzariya)
	label-Verified = -1..+1 group user/Suresh kanzariya (skanzariya)
	rebase = group user/Suresh kanzariya (skanzariya)
	removeReviewer = group user/Suresh kanzariya (skanzariya)
	submit = group user/Suresh kanzariya (skanzariya)
[access "refs/heads/*"]
	read = group user/Suresh kanzariya (skanzariya)
	create = group user/Suresh kanzariya (skanzariya)
	push = +force group user/Suresh kanzariya (skanzariya)
	pushMerge = group user/Suresh kanzariya (skanzariya)
[access "refs/tags/*"]
	push = +force group user/Suresh kanzariya (skanzariya)
	pushTag = group user/Suresh kanzariya (skanzariya)
	pushSignedTag = group user/Suresh kanzariya (skanzariya)
